body {
  border:0;
  margin:0;
  padding:0;
}

#banner {
  width:100%;
  position:absolute;
  z-index:100;
  top:0px;
  margin:0;
  height:68px;

  border:0;
  border-image: url(banner_border.png) 0 6 2 repeat;
  -o-border-image: url(banner_border.png) 0 6 2 repeat;
  -webkit-border-image: url(banner_border.png) 0 6 2 repeat;
  -khtml-border-image: url(banner_border.png) 0 6 2 repeat;
  -moz-border-image: url(banner_border.png) 0 6 2 repeat;
  border-bottom-width: 2px;
  
  background-image: linear-gradient(bottom, rgb(223,234,246) 0%, rgb(192,219,244) 100%);
  background-image: -o-linear-gradient(bottom, rgb(223,234,246) 0%, rgb(192,219,244) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(223,234,246) 0%, rgb(192,219,244) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(223,234,246) 0%, rgb(192,219,244) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(223,234,246) 0%, rgb(192,219,244) 100%);

  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(223,234,246)),
	  color-stop(1, rgb(192,219,244))
  );
}

#banner > div {
  position:relative;
}

#content {
  padding-top:70px;
}

img.logo {
  padding-top:12px;
}

#right-banner-info {
  float:right;
  position:relative;
  top:20px;
}

.toolbar-button a {
  text-transform:uppercase;
  font-size:1.4em;
  margin:10px;
  text-decoration:none;
  color:#322E2E;
}

.toolbar-button.selected a {
  text-decoration:underline;
  color:#6396C6;
}

#toolbar-buttons {
  position:absolute;
  top:20px;
}

div.mini-login .sign-in-form {
  float:left;
  padding:0px;

  * {
    float:left;
    padding:4px;
    margin:0px;
  }

  dd * {
    width:100px;
  }
}

div.mini-login .actions {
  display:inline;
  * {
    margin-top:20px;
    margin-left:8px;
  }
}