body {
  background-image:url('banner_background.png');
  background-repeat:repeat-x;
  background-color:#fff;
}

* {
  font-size:15px;
}

h1, h2, h3, h4 {
  text-transform:uppercase;
  font-weight:normal;
}

h1 {
  font-size:2.9em;
}

h2 {
  font-size:1.5em;
  img {
    margin-right:8px;
  }
}

a {
  color: #666;
  &:visited {
    color: #666; }
  &:hover {
    color: #999;
  } }
  
#spacer-div {
  height:100px;
}

img.glyphicon-image {
  opacity:0.2;
}

#bottom-line {
  border:0px solid rgba(.2,.2,.2,.2);
  border-top-width:1px;
  height:0px;
  width:940px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}