// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_form {
  float:right;
  margin-left:5px;
  width:160px;
  position:relative;
  background-image:url('search_box.png');
  background-repeat:no-repeat;    
  height:18px;
  input#search {
    outline:none;
    position:absolute;
    top:0px;
    left:20px;
    font-size:12px;
    background:transparent;
    border:0px;
  }
  input[type~="image"] {
    position:absolute;
    top:2px;
    left:5px;
  }
}

#getting-started-search #search_form {
  float:none;
  margin-left:100px;
}

#getting-started-search-tag {
  float:left;
}