// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-name {
  display:inline;
}

#view-profile-link * {
  font-size:.8em;
}

#add-round-button {
  float:right;
  margin-top:30px;
  img {
    margin-right:5px;
  }
  span {
    display:block;
    float:right;
    padding-top:2px;
    font-size:.9em;
    text-decoration:none;
  }
}

.special-green {
  color:#54B72D;
}
.special-red {
  color:#FF3F3F;
}
